*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 13px;
}

body {
  font-family: "Source Sans 3", sans-serif;
}

img,
button,
input {
  display: block;
}

button {
  width: fit-content;
}
