.header {
  padding: 1.3rem 0;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo-img {
  width: 9.76rem;
}

.header__avatar {
  width: 2.6rem;
  height: 2.6rem;
  border-radius: 50%;
  object-fit: cover;
}
