.post-card {
  background-color: var(--color-blank);
  padding-bottom: 1.2rem;
}

.post-card__header-inner {
  display: flex;
  align-items: center;
  column-gap: 1.3rem;
  padding: 1rem 0;
}

.post-card__avatar {
  width: 2.6rem;
  height: 2.6rem;
  border-radius: 50%;
}

.post-card__user-name {
  font-weight: 700;
  font-size: 1rem;
}

.post-card__image {
  width: 100%;
  margin-bottom: 1.6rem;
  cursor: pointer;
}

.post-card__actions {
  display: flex;
  column-gap: 1.53rem;
}

.post-card__action {
  border: none;
  background: none;
  transition: transform 300ms;
  cursor: pointer;
  margin-bottom: 1rem;
}

.post-card__action[aria-pressed="true"] {
  opacity: 0.7;
}

.post-card__action:hover,
.post-card__action:focus {
  transform: scale(1.2);
}

.post-card__action-icon {
  width: 1.76rem;
  height: 1.76rem;
}

.post-card__likes {
  font-weight: 700;
  margin-bottom: 1rem;
}

.post-card__comment-author {
  font-weight: 700;
}
